<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/fontawesome/css/all.css}" th:rel="stylesheet">
</head>
<body>

<div class="container mt-4">

    <nav th:insert="fragments/header.html :: cabecalho"></nav>

    <div class="jumbotron mt-3">
        <h1 class="display-4">Clientes do Banco</h1>
        <hr>
        <div class="d-flex justify-content-end">
            <a th:href="@{/sair}" class="btn btn-dark">Sair</a>
        </div>
    </div>

    <div class="alert alert-success" role="alert" th:if="${sucesso}">
        <span th:text="${sucesso}">Mensagem de sucesso</span>
    </div>

    <fieldset>
        <div class="d-flex justify-content-between">
            <legend>Lista de Clientes</legend>
            <a class="btn btn-primary" th:href="@{/clientes/formulario}">Novo Cliente</a>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>nome</th>
                <th>cpf</th>
                <th>sexo</th>
                <th>ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}">id</td>
                <td th:text="${cliente.nome}">nome</td>
                <td th:text="${cliente.cpf}">cpf</td>
                <td th:text="${cliente.sexo}">sexo</td>
                <td>
                    <div class="d-inline">
                        <a class="btn btn-primary btn-sm"
                           th:href="@{/clientes/{id}/editar(id=${cliente.id})}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    <div class="d-inline">
                        <form class="form-inline" method="post"
                              th:action="@{/clientes/{id}/remover(id=${cliente.id})}">
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>

    </fieldset>


</div>

</body>
</html>