<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>footer</title>
</head>
<body>
<footer class="jumbotron" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <p class="lead">Developer by <strong>Weskley Bezerra</strong></p>
</footer>
</body>
</html>
