<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Entrar no Banco</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/fontawesome/css/all.css}" th:rel="stylesheet">
    <style>
        .button-width {
            width: 15%;
            white-space: normal;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron mt-2">
        <h1>Entrar no banco</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <form method="post" th:action="@{/entrar}">
                <div class="form-group">
                    <label for="username">Usuário</label>
                    <input class="form-control" id="username" name="username" type="text">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input class="form-control" id="password" name="password" type="password">
                </div>
                <button class="btn btn-primary button-width" type="submit">
                            <span>
                                <i class="fas fa-sign-in-alt"></i> Entrar
                            </span>
                </button>
                <button class="btn btn-secondary button-width" type="reset">
                            <span>
                                <i class="fas fa-broom"></i> Limpar
                            </span>
                </button>
            </form>
        </div>
    </div>
</body>
</html>