<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" th:rel="stylesheet">
    <link th:href="@{/fontawesome/css/all.css}" th:rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-4">Página não encontrada</h1>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" href="javascript:history.back()">
                <span><i class="fas fa-backspace"></i> Voltar</span>
            </a>
        </div>
    </div>
</body>
</html>